name: VULN-001 - Security Headers Scan

on:
  workflow_dispatch:

jobs:
  zap_scan:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - uses: actions/setup-dotnet@v3
        with:
          dotnet-version: '8.0.x'

      - run: dotnet build

      - run: |
          dotnet run --urls=http://0.0.0.0:5006 &
          echo "Esperando a que la API arranque..."
          sleep 15

      # Crear carpeta .zap para evitar errores de permisos
      - run: mkdir -p .zap && chmod 777 .zap

      - uses: zaproxy/action-baseline@v0.10.0
        with:
          target: 'http://host.docker.internal:5006/swagger/index.html'
          cmd_options: '-a'

      - uses: actions/upload-artifact@v4
        with:
          name: ZAP-Report-VULN-001
          path: report.html
