name: VULN-005 - Server Configuration Scan

on:
  workflow_dispatch:

jobs:
  zap_scan:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - uses: actions/setup-dotnet@v3
        with:
          dotnet-version: '8.0.x'

      - run: |
          dotnet restore
          dotnet build

      - run: |
          dotnet run --urls=http://0.0.0.0:5006 &
          echo "Esperando a que la API arranque..."
          for i in {1..10}; do
            if curl -s http://localhost:5006 > /dev/null; then
              echo "✅ API lista!"
              break
            fi
            echo "⏳ Esperando API..."
            sleep 5
          done

      - name: Download ZAP
        run: |
          wget https://github.com/zaproxy/zaproxy/releases/download/v2.16.1/ZAP_2.16.1_Linux.tar.gz
          tar -xvzf ZAP_2.16.1_Linux.tar.gz

      - name: Run ZAP Full Scan using automation file
        run: |
          ./ZAP_2.16.1/zap.sh -cmd -autorun zap-fullscan.yaml

      - uses: actions/upload-artifact@v4
        with:
          name: ZAP-Report-VULN-005
          path: zap-report.html
